html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff495c;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #46237a;
  color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand a {
  color: #fcfcfc;
  font-size: 2.5rem;
  font-weight: bold;
}

.header-links a {
  color: #fcfcfc;
}

.header-links a:hover {
  color: #ff495c;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #46237a;
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Screen */

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
  list-style-type: none;
  padding: 0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name {
  font-size: 2rem;
}

.product-label {
  font-size: 1.6rem;
  color: #808080;
}

.product-price {
  font-size: 2.5rem;
  font-weight: bold;
}

.product img {
  max-width: 34rem;
  max-height: 34rem;
  object-fit: scale-down;
}

.product-rating {
  margin-bottom: 1rem;
}

/* Sidebar */

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #fcfcfc;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  background-color: #c5d1eb;
  width: 30rem;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  font-size: 2rem;
  border: 0.1rem #888 solid;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  padding-bottom: 0.3rem;
  cursor: pointer;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
}
